DEV_DB_USERNAME=username
DEV_DB_PASSWORD=password
DEV_DB_DB_NAME=dbname
DEV_DB_HOSTNAME=hostname
DEV_DB_PORT=port
DEV_DB_DIALECT=dialect

TEST_DB_USERNAME=username
TEST_DB_PASSWORD=password
TEST_DB_DB_NAME=dbname
TEST_DB_HOSTNAME=hostname
TEST_DB_PORT=port
TEST_DB_DIALECT=dialect

PROD_DB_USERNAME=username
PROD_DB_PASSWORD=password
PROD_DB_DB_NAME=dbname
PROD_DB_HOSTNAME=hostname
PROD_DB_PORT=port
PROD_DB_DIALECT=dialect
